.container.testimonials__container {
  width: 100%;
  /* background: var(--color-bg-variant); */
  border-radius: 30px;
  padding: 2rem;
  /* display: flex; */
}

.portfolio__card {
  /* background-color: var(--color-primary); */
  display: grid;
  gap: 1.2rem;
  padding: 1.2rem;
  border-radius: 2rem;
  align-items: center;
  width: 230px;
}

.portifolio__img {
  border-radius: 20px;
}

.view-more .portfolio__card-cta {
  display: block;
  background-color: red;
}

/* .btn__view-more {
  width: max-content;
  display: inline-block;
  background: var(--color-bg-variant);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
} */
